@model IEnumerable<RentARide.Models.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PicPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

    </thead>

@foreach (var item in Model) {
<tbody>
    <tr>
        <td>
            <img class="thumbnail" src="@Url.Content("~/Uploads/"+item.PicPath)" style="height:150px;width:200px" />

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Manufacturer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.CarId })
            }
            |@Html.ActionLink("Details", "Details", new { id = item.CarId })|
            @if (User.Identity.IsAuthenticated && this.User.IsInRole("Admin")) {
                @Html.ActionLink("Delete", "Delete", new { id = item.CarId })}
        </td>
    </tr>
</tbody>
}

</table>
@section Scripts {
    @Scripts.Render("~/Scripts/DataTables/jquery.dataTables.js")
    @Scripts.Render("~/Scripts/DataTables/dataTables.bootstrap.js")
    <script>
$(document).ready(function () {
                    $('.table').DataTable();
                });</script>
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css"
      rel="stylesheet" />